<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>{% block titulo %} Usuarios {% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/estilos.css">
</head>
<body>
	{% block header %} {% endblock %}
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top" id="cabezera-menu">
		  <div class="container">
		    <div class="navbar-header divider">
		    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false">
			        <span class="sr-only">Menu</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
		      <a class="navbar-brand" href="/menu">Ganancias y Gastos
		      </a>
		    </div>

		    <div class="collapse navbar-collapse" id="navbar-1">
		      <ul class="nav navbar-nav">
		        <li><a href="/menu">Inicio <span class="sr-only">(current)</span></a></li>
		        <li><a href="/ver-ganancias/">Ingresos</a></li>
		         <li><a href="/ver-gastos/">Gastos</a></li>
		         <li><a href="#">Mensualidad</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user "></i> {{user.username|capfirst}}<span class="caret"></span></a>
		          <ul class="dropdown-menu">
		          	<li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="/ver-notas-rapidas">Notas Rapidas</a></li>
		            <li class="divider"></li>
		            <li {% block etiquetaPerfil %}{% endblock %}><a href="/perfil">Perfil</a></li>
		            <li class="divider"></li>
		            <li><a href="/cerrar">Cerrar Sesion</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container -->
		</nav>
	</header>
		<div class="container">
			<section class="main row">
				{% block cabezera %} {% endblock %}

				{% block contenido %} {% endblock %}
			</section>
			<section class="espacio row">
				{% block contenidomedio %} {% endblock %}
			</section>
			<section class="espacio row">
				{% block segundocontenido %} {% endblock %}				
			</section>
		</div>

	<footer id="pieMenu">
		<h2>@Jandrey15</h2>
	</footer>
	
	<!-- scripts -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/script.js"></script>			
	{% block script %}{% endblock %}
</body>
</html>