{% extends "base.html" %}

{% block titulo %}Registrar Ganancia{% endblock %}

{% block cabezera %}
	<h2 id="titulos">REGISTRAR MIS GANANCIAS</h2>
{% endblock %}

{% block contenido %}
	<style>
		#id_usuario{display: none;}
		label[for=id_usuario]{display: none;} 
	</style>
	<hr></hr>
	<article class="col-md-2"></article>
	<article class="col-md-6">
		<form method="POST" enctype="multipart/form-data">{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-success" type="submit">Guardar</button>
		</form>
		<a href="/menu">Volver</a>
		<a href="/verganancias">Ver Ganancias</a>
		<hr></hr>
	</article>

{% endblock %}

{% block script %}
	<script>
		$(document).ready(function(){
			console.log( "ready!" );
			$('#id_usuario > option[value="{{user.id}}"]').attr('selected', 'selected');
		});
	</script>
{% endblock %}

