<!DOCTYPE>
<html lang="es">
<head>
    <title>Registro Diario</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/estilos.css">
</head>
	<body>
		<h1>Registrar Ganancia</h1><!-- el ecntype es para guardar imagenes o cualquier archivo -->
		<form method="POST" enctype="multipart/form-data">{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Guardar</button>
		</form>
		<a href="/">Volver</a>
		<a href="../verganancias">Ver Ganancias</a>
	</body>
</html>