{% extends "base.html" %}

{% block titulo %}Cambiar Clave{% endblock %}


{% block cabezera %}
	<h2 id="titulos">CAMBIAR MI CLAVE</h2>
{% endblock  %}


{% block contenido %}
	<hr></hr>	
	<article class="col-md-1"></article>
	<article class="col-md-10">
		<ul class="nav nav-tabs nav-justified well">
  			<li role="presentation"><a href="/perfil">Perfil</a></li>
  			<li role="presentation"><a href="/perfil/actualizar-perfil/{{user.id}}">Editar Perfil</a></li>
			<li role="presentation" class="active"><a href="">Cambiar Contraseña</a>
				{% if user.perfiles.id == user.id  %}
					<form method="post" action="">{% csrf_token %}
				        {{ form.as_p }}
				        <button class="btn btn-success" type="submit">Actualizar contraseña</button>
				        <a href="/perfil" class="btn btn-warning" type="submit">Cancelar</a>
			   		 </form>
				{% endif %}
			</li>
		</ul>
		<hr></hr>
	</article>
{% endblock %}

{% block etiquetaPerfil %}
	class="active"
{% endblock %}