{% extends "base.html" %}

{% block titulo %}Cambiar Clave{% endblock %}


{% block cabezera %}
	<h2 id="titulos">CAMBIAR MI CLAVE</h2>
{% endblock  %}


{% block contenido %}
	<hr></hr>	
	<article class="col-md-1"></article>
	<article class="col-md-10">
		<ul class="nav nav-tabs nav-justified well">
  			<li role="presentation"><a href="/perfil">Perfil</a></li>
  			<li role="presentation"><a href="/actualizar-perfil/{{user.id}}">Editar Perfil</a></li>
  			<li role="presentation"><a href="/usuario-nuevo">Crear Usuario</a></li>
			<li role="presentation" class="active"><a href="/cambiar-clave">Cambiar Contraseña</a>
				 <form method="post" action="">{% csrf_token %}
			        {{ form.as_p }}
			        <button class="btn btn-primary" type="submit">Actualizar contraseña</button>
			        <a href="/perfil" class="btn btn-warning" type="submit">Cancelar</a>
			    </form>
			</li>
		</ul>
		<hr></hr>
	</article>
{% endblock %}

{% block etiquetaPerfil %}
	class="active"
{% endblock %}