{% extends "base.html" %}

{% block titulo %}Nuevo Usuario{% endblock  %}

{% block cabezera %}
	<h2 id="titulos">CREAR NUEVO USUARIO</h2>
{% endblock  %}

{% block contenido %}
<hr></hr>
<article class="col-md-10">
	<ul class="nav nav-tabs nav-justified ">
  		<li role="presentation"> <a href="/perfil">Perfil</a></li>
  		<li role="presentation"><a href="/actualizar-perfil">Editar Perfil</a></li>
  		<li role="presentation class="active""><a href="/usuario-nuevo">Crear Usuario</a>
			<form class="form-horizontal" id="formulario" method="post" action="">{% csrf_token %}
				<br>
				<div class="form-group">
				    <div class="col-sm-8">
				    <input type="text" class="form-control" required name="username" id="id_username" placeholder="Nombre de Usuario">
				    </div>
				</div>
				<div class="form-group">
				    <div class="col-sm-8">
				    <input type="text" class="form-control" name="first_name" id="id_first_name" placeholder="Nombre">
				    </div>
				</div>
				<div class="form-group">
				    <div class="col-sm-8">
				    <input type="text" class="form-control" name="last_name" id="id_last_name" placeholder="Apellidos">
				    </div>
				</div>
				<div class="form-group">
				    <div class="col-sm-8">
				    <input type="email" class="form-control" required name="email"  placeholder="Correo electrónico">
				    </div>
				</div>
				<div class="form-group">
				    <div class="col-sm-8">
				     <input type="password" class="form-control" required name="password" id="id_password" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
				    <div class="col-sm-8">
				     <input type="password" class="form-control" name="password1" id="id_password1" placeholder="Confirmar Password">
					</div>
				</div>
				<div class="form-group">
				     <div class="col-sm-offset-2 col-sm-8">
				      <button type="submit" class="btn btn-primary">Registrar</button>
					 </div>
				</div>
			</form>
			{% if form.errors %}
       		 	<p>{{ form.errors }}</p>
    		{% endif %}
  		</li>
	</ul>
	<hr></hr>
</article>
{% endblock %}

{% block etiquetaCrearUser %}
	class="active"
{% endblock %}